* {
    background: linear-gradient(to right, #434343 0%, black 100%);
    color: #DADFEA;
}
h2 {
    text-align: center;
}
img{
    margin: 78px;
    height: 600px;
    width: 600px;  
    position: absolute;
}
#vanitasimage {
    float: right;
    animation: vanitas 5s 5s 1010;
    box-sizing: border-box;
    max-width: 900px;
}
#vanitasimage2 {
    float: right;
    animation: vanitas2 5s 4s 110;
    box-sizing: border-box;
    max-width: 900px;
}
#ekko {
    float: right;
    animation: ekko 5s 3s 1100;
    box-sizing: border-box;
    max-width: 900px;
}
#erenandmikasa {
    float: right;
    animation: erenandmikasa 5s 2s 1100;
    box-sizing: border-box;
    max-width: 900px;
}
#gojo{
    float: right;
    animation: gojo 5s 1s 1100;
    box-sizing: border-box;
    max-width: 900px;
}
@keyframes vanitas {
    0% {
        right: 0px;
        opacity: 1;
    }
    50%{
        opacity: 2;
    }
    100% {
        right: 600px;
        opacity: 0;
    }
}
@keyframes vanitas2 {
    0% {
        right: 0px;
        opacity: 0;
    }
    50%{
        opacity: 2;
    }
    100% {
        right: 500px;
        opacity: 0;
    }
}
@keyframes ekko {
    0% {
        right: 0px;
        opacity: 0;
    }
    50%{
        opacity: 2;
    }
    100% {
        right: 400px;
        opacity: 0;
    }
}
@keyframes erenandmikasa {
    0% {
        right: 0px;
        opacity: 0;
    }
    50%{
        opacity: 2;
    }
    100% {
        right: 300px;
        opacity: 0;
    }
}
@keyframes gojo {
    0% {
        right: 0px;
        opacity: 0;
    }

    50%{
        opacity: 2;
    }
    
    100% {
        right: 200px;
        opacity: 0;
    }
}


