h1{
    color: rgb(34, 121, 109);
    font-size: 70;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h2{
    color: rgb(134, 9, 103);
    font-size: 60;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
a:link,a:visited{
    text-decoration: none;
    border: 3px solid rgb(80, 142, 158);
    color: rgb(46, 29, 9);
    background-color: rgb(153, 111, 139);
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
a:hover , a:active{
    text-decoration:wavy;
    color: antiquewhite;
    background-color: brown;
}

div:nth-child(even){
    color:pink;
    border: 2px solid black;
    background-color: grey;
    margin:12px;
    text-align: center;
}
div:nth-child(odd){
    color:grey;
    border: 2px solid black;
    background-color: pink;
    margin:12px;
    text-align: center;
}
div:hover{
background-color: yellow;
}



