h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(230, 32, 32);
    color: bisque;
}
h2{
    background-color: rgb(230, 32, 32);
    color: rgb(110, 67, 14);
}
*{
    background: linear-gradient(#000428 , #004e92);
    color:white;
}

button{
    text-decoration: none;
    border: 4px solid black;
    border-radius: 200px;
    text-align: center;
    border-color: black;
    padding: 10px;
    margin: 30px;
    width: 15%;
    color: #2c3e50;
    font-size:medium;
    font-weight: 800;
    background: linear-gradient(#cc2b5e ,#753a88);
}
button:hover{
    background-color: aliceblue;
    color:black;
}