.container{
    background-color: rgb(153, 123, 85);
    border: none;
    height: 300px;
}
div{
    border: 3px solid peru;
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction:row;
    /* align-items: flex-end;
    align-self: flex-start; */

}
div:hover{
    background-color: peru;
    color:rgb(233, 14, 105);
    border-color: aliceblue;
}
.container:hover{
    background-color: black;
    
}